<!doctype html>
<html>
    <head>
        <title>IEEE PEC Hackathon - Project Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="navbar-brand my-0 mr-md-auto">IEEE PEC Hackathon</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Project Details</a>
                <a class="p-2 text-dark" href="#">Team</a>
                <a href="https://github.com/ankurxshukla/ieeepec"><svg class="ml-2" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"></path></svg></a>
            </nav>
        </div>
        <div style="margin-left: 25%; margin-right: 25%; margin-top: 2%; margin-bottom: 3%; text-align: center;">
            <h1 class="display-4">Project Details</h1>
        </div>
        <div style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
            <h3 class="display-5">Introduction</h3>
            <p>This project was created by Ankur Shukla and Harshul Jain, students of Netaji Subhas University of Technology, as participants of the IEEE PEC Hackathon 2020. The theme chosen for the competetion was 'Resume Filtering'. The details of the theme and the problem statement can be found <a href="https://drive.google.com/file/d/1IOR1BNC0_MRiYe9hh90gJ-Y4mv7TLCnJ/view?usp=sharing" target="_blank" rel="noopener noreferrer">here</a>. We chose this theme mainly because it was quite relatable to our current scenerio. There are millions of students applying for jobs every year, so we thought such service would of great use. The sections that follow explain the technology stack, working and conclusion of the project. This page is divided into following parts:<br>
                <ul>
                    <li><a href="#tech_stack">Technology Stack</a>
                    <li><a href="#working">Working</a>
                    <li><a href="#results">Results</a>
                    <li><a href="#conclusion">Conclusion and further improvements</a>
                </ul>
            </p>
        </div>
        <div style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
            <h3 class="display-5">Technology Stack</h3>
            <p>This section thoroughly explains the technologies used and the reason for choosing them. All the technologies used are open source.<br>
                <ol>
                    <h5><li>Python (Programming Language):</h5>There is no denying that <a href="https://www.python.org/">Python</a> is so far the best language to be used for machine learning tasks, and since this is majorly a machine learning problem, we used Python as the main language. Python is also very commonly used as a web development language. Frameworks like <a href="https://www.djangoproject.com/">Django</a> and <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> are based on Python. In this project we used <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> as the backend framework, explaination of which is provided later.</li>
                    <br><br>
                    
                    <h5><li>Flask (Web Framework):</h5><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies and several common framework related tools. Extensions are updated far more frequently than the core Flask program. ~<a href="https://en.wikipedia.org/wiki/Flask_%28web_framework%29">Wikipedia</a><br><br>
                        The major reason for using flask was its lightweight nature. We had to build a prototype that is easy to code yet functions good. Flask matches all the criteria we needed in a web framework. Flask makes backend deployment really easy and fast. Its powerful enough to be used in live apps. Companies like Pinterest and LinkedIn use Flask as a backend for their websites.</li> 
                    <br><br>
                    
                    <h5><li>Heroku (Deployment):</h5><a href="https://www.heroku.com/">Heroku</a> is a cloud platform as a service (PaaS) supporting several programming languages. One of the first cloud platforms, Heroku has been in development since June 2007, when it supported only the Ruby programming language, but now supports Java, Node.js, Scala, Clojure, Python, PHP, and Go. For this reason, Heroku is said to be a polyglot platform as it has features for a developer to build, run and scale applications in a similar manner across most languages. ~<a href="https://en.wikipedia.org/wiki/Heroku">Wikipedia</a><br><br>
                        We preferred Heroku beacuse it is most commonly used Open Source platform for deploying web apps. It offers very fast deployment methods and easy error logging. Heroku offers upto 500 megabytes of deplyment storage in free accounts.    
                    </li>
                    <br><br>
                    
                    <h5><li>Bootstrap (CSS):</h5><a href="https://getbootstrap.com/">Boootstrap</a> offers really quick and beautiful methods for creating front-end of web apps.
                    </li>
                    <br><br>

                    <h5><li>Keras (Machine Learning Framework):</h5><a href="https://keras.io/">Keras</a> is an open-source neural-network library written in Python. It is capable of running on top of TensorFlow, Microsoft Cognitive Toolkit, R, Theano, or PlaidML. Designed to enable fast experimentation with deep neural networks, it focuses on being user-friendly, modular, and extensible. It was developed as part of the research effort of project ONEIROS (Open-ended Neuro-Electronic Intelligent Robot Operating System). ~<a href="https://en.wikipedia.org/wiki/Keras">Wikipedia</a><br><br>
                        Its lightweight nature was the major motivation for choosing this framework. We wanted to deploy our model to web and to do so we needed a framework that does not consumes much server space, since as mentioned earlier, Heroku offers only 500 megabytes of storage space. There were two other options - Tensorflow and PyTorch, but due to their large size, they were discarded. Also it was not wise to waste space on framework components that are of no use to the app. The following image shows the model architecture.<br><br>
                        <img src="/static/arch.jpg">
                    </li>
                    <br><br>

                    <h5><li>PyPDF2 (Parse pdf File):</h5><a href="https://pypi.org/project/PyPDF2/">PyPDF2</a> is used to work with pdf files. It is used to read the document , split pdfs page by page, extract document information and more.
                    </li>
                    <br><br>

                    <h5><li>NumPy:</h5><a href="https://numpy.org/">NumPy</a> is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays. The ancestor of NumPy, Numeric, was originally created by Jim Hugunin with contributions from several other developers. In 2005, Travis Oliphant created NumPy by incorporating features of the competing Numarray into Numeric, with extensive modifications. NumPy is open-source software and has many contributors. ~<a href="https://en.wikipedia.org/wiki/NumPy">Wikipedia</a>
                    </li>
                    <br><br>

                    <h5><li>NLTK (Language Processing):</h5><a href="https://www.nltk.org/">NLTK</a> library is used to preprocess the text before feeding it into the neural network. It has a pretty good collection of stop words and which removes redundant text from the input.
                    </li>
                    <br><br>

                    <h5><li>Pandas (Reading datasets):</h5>We have used <a href="https://pandas.pydata.org/">Pandas</a> library to read csv files which contained the training data for the application.
                    </li>
                    
                </ol>
            </p>
        </div>

        <div style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
            <h3 class="display-5">Results</h3>
            <p>The Jupyter Notebook is available <a href="https://colab.research.google.com/drive/1ufkqUljFc9RVqPPHMn7XP5o7r4Ph4xIk?usp=sharing">here</a>. The dataset consists of 5 classes: Computer Science (71 samples), Chemical (35 samples), Mechanical (39 samples), Electrical (39 samples) and  Finance (38 samples). The dataset was manually generated thorugh web scraping. NLTK was used to remove stopwords and to convert the dataset into feature vectores. Furthermore, the model was trained over the dataset for 15 iterations.<br><br>
                The following plot was obtained:<br><br>
                <img src="/static/result.jpg" alt="result">
            </p>
        </div>
        
    </body>
    <script>
        document.getElementById("file").onchange = function() {
            document.getElementById("form").submit();
        };
    </script>
</html>